/*
* ----------------------------------------------
* Nextflow config file for iGenomes paths
* ----------------------------------------------
* defines reference genomes, using iGenome paths
* can be used by any config that customises the base
* path using $params.igenomes_base / --igenomes_base
*/

params {
  /*
  * illumina iGenomes reference file paths refer to - https://github.com/ewels/AWS-iGenomes
  */
  genomes {
    'RTA' {
      fasta       = "${params.igenomes_base}/PhiX/Illumina/RTA/Sequence/WholeGenomeFasta/genome.fa"
      bwa         = "${params.igenomes_base}/PhiX/Illumina/RTA/Sequence/BWAIndex/genome.fa"
      bowtie2     = "${params.igenomes_base}/PhiX/Illumina/RTA/Sequence/Bowtie2Index/"
      macs_gsize  = "5.386-e9"
    }
    'ZH-548' {
      'S' {
        fasta     = "${params.igenomes_base}/ZH-548/RVFV-S/Sequence/WholeGenomeFasta/genome.fa"
        bwa       = "${params.igenomes_base}/ZH-548/RVFV-S/Sequence/BWAIndex/genome.fa"
        bowtie2   = "${params.igenomes_base}/ZH-548/RVFV-S/Sequence/Bowtie2Index/"
        gff       = "${params.igenomes_base}/ZH-548/RVFV-S/Annotation/genes.gff"
      }
      'M' {
        fasta     = "${params.igenomes_base}/ZH-548/RVFV-M/Sequence/WholeGenomeFasta/genome.fa"
        bwa       = "${params.igenomes_base}/ZH-548/RVFV-M/Sequence/BWAIndex/genome.fa"
        bowtie2   = "${params.igenomes_base}/ZH-548/RVFV-M/Sequence/Bowtie2Index/"
        gff       = "${params.igenomes_base}/ZH-548/RVFV-M/Annotation/genes.gff"
      }
      'L' {
        fasta     = "${params.igenomes_base}/ZH-548/RVFV-L/Sequence/WholeGenomeFasta/genome.fa"
        bwa       = "${params.igenomes_base}/ZH-548/RVFV-L/Sequence/BWAIndex/genome.fa"
        bowtie2   = "${params.igenomes_base}/ZH-548/RVFV-L/Sequence/Bowtie2Index/"
        gff       = "${params.igenomes_base}/ZH-548/RVFV-L/Annotation/genes.gff"
      }
    }
  }
}