/****************************************************************
 ********* Slurm configuration for ILRI HPC clusters ************
 ***************************************************************/

process {
  clusterOptions = {"--nodelist=compute06"}
  queue = 'batch'
  scratch = true

  // errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 2
  maxErrors = '-1'

  withLabel:process_low {
    cpus = { check_max( 2 * task.attempt, 'cpus' ) }
    memory = { check_max( 2.GB * task.attempt, 'memory' ) }
    time = { check_max( 24.h * task.attempt, 'time' ) }
  }
  withLabel: process_medium {
    cpus = { check_max (8, 'cpus')}
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    //time = { check_max( 8.h * task.attempt, 'time' ) }
  }
  withLabel: process_high {
    cpus = { check_max (8, 'cpus')}
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    //time = { check_max( 8.h * task.attempt, 'time' ) }
    cache = true
  }
  withName: 'multiqc' {
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    cache = false
  }
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 4.GB
  max_cpus = 8
  max_time = 240.h
}